.LoginPelaBarra{
    background-color: #EDEDED    ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.botaoLogin{
    color: #1087ff;
    cursor: pointer;
}